
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Homemade+Apple&display=swap');
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Homemade Apple', cursive;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: 'Dynapuff', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    height: 50% ;
    width: 100% ;
    background: url('..images/header photo bellle art acadmey.jpg') repeat no-repeat center center;
}

/*style the about section*/

 h2 {
    font-size: 300%;
    /*padding-top: 40px;
    padding-left: 40px;
    width: 33%;
    height: auto;

   bottom: 40px;
   right: 45px;  */
   /*code snipped from https://www.w3.org/Style/Examples/007/center.en.html
*/
   position: relative;
   height: 4em;
  display: flex;
  align-items: center;
  justify-content: center }

  


p {

    font-family: 'Homemade Apple', cursive;
    font-size: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px ;
    justify-content: center;
}

 .paper {

    position: relative;
    height: 300px;
    width: 90%;
    background: rgba(252, 173, 223, 0.411);
    box-shadow: 0px 0px 5px 0px #706e6e;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 60px ;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(245, 49, 49, 0.4);
  }
  .lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
 }
  .text {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height: 45px;
    font-family: 'Homemade apple';
    font-weight: 500;
    overflow: hidden;
    outline: none;
  }
  .holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: lightgoldenrodyellow;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
  }
  .hole-top {
    top: 10%;
  }
  .hole-middle {
    top: 50%;
  }
  .hole-bottom {
    bottom: 10%;
  }
    
  #classes {
    font-size: 100%;
    position: relative;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center 
    
   
}
 
#classes {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 60px ;
    letter-spacing: 4px;
    text-transform: uppercase;
}
